# .gitattributes
# Set language for files in the lib folder to Dart
lib/**/* linguist-language=Dart

# Ignore other files, use default language detection
* linguist-vendored
*.css linguist-vendored=false
*.scss linguist-vendored=false
*.json linguist-vendored=false
*.html linguist-vendored=false
*.xml linguist-vendored=false
*.png linguist-vendored=false
*.jpg linguist-vendored=false
*.jpeg linguist-vendored=false
*.gif linguist-vendored=false
*.bmp linguist-vendored=false
*.svg linguist-vendored=false
*.lock linguist-vendored=false
